NetBeansProjects/SharesWSJSPClient/src/conf/xml-resources/web-service-references/SharesWS/wsdl/localhost_9090/SharesWS/SharesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shares.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shares.me.org/" name="SharesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://shares.me.org/" schemaLocation="http://localhost:9090/SharesWS/SharesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="purchaseShares">
<part name="parameters" element="tns:purchaseShares"/>
</message>
<message name="purchaseSharesResponse">
<part name="parameters" element="tns:purchaseSharesResponse"/>
</message>
<message name="unmarshalShares">
<part name="parameters" element="tns:unmarshalShares"/>
</message>
<message name="unmarshalSharesResponse">
<part name="parameters" element="tns:unmarshalSharesResponse"/>
</message>
<message name="listShares">
<part name="parameters" element="tns:listShares"/>
</message>
<message name="listSharesResponse">
<part name="parameters" element="tns:listSharesResponse"/>
</message>
<message name="Search">
<part name="parameters" element="tns:Search"/>
</message>
<message name="SearchResponse">
<part name="parameters" element="tns:SearchResponse"/>
</message>
<portType name="SharesWS">
<operation name="purchaseShares">
<input wsam:Action="http://shares.me.org/SharesWS/purchaseSharesRequest" message="tns:purchaseShares"/>
<output wsam:Action="http://shares.me.org/SharesWS/purchaseSharesResponse" message="tns:purchaseSharesResponse"/>
</operation>
<operation name="unmarshalShares">
<input wsam:Action="http://shares.me.org/SharesWS/unmarshalSharesRequest" message="tns:unmarshalShares"/>
<output wsam:Action="http://shares.me.org/SharesWS/unmarshalSharesResponse" message="tns:unmarshalSharesResponse"/>
</operation>
<operation name="listShares">
<input wsam:Action="http://shares.me.org/SharesWS/listSharesRequest" message="tns:listShares"/>
<output wsam:Action="http://shares.me.org/SharesWS/listSharesResponse" message="tns:listSharesResponse"/>
</operation>
<operation name="Search">
<input wsam:Action="http://shares.me.org/SharesWS/SearchRequest" message="tns:Search"/>
<output wsam:Action="http://shares.me.org/SharesWS/SearchResponse" message="tns:SearchResponse"/>
</operation>
</portType>
<binding name="SharesWSPortBinding" type="tns:SharesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="purchaseShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unmarshalShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SharesWS">
<port name="SharesWSPort" binding="tns:SharesWSPortBinding">
<soap:address location="http://localhost:9090/SharesWS/SharesWS"/>
</port>
</service>
</definitions>